<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Login - Sofpix</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/signs.css">
</head>
<body>
    <div class="auth-card login-card">
        <img src="{{ url_for('static', filename='icons/user.png') }}" alt="Usuario" class="login-icon">
        <h2 class="login-title">Iniciar Sesión</h2>

        <!-- Mensajes flash -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul class="flash-container">
            {% for category, message in messages %}
            <li class="flash-message {% if category == 'success' %}flash-success{% elif category == 'error' %}flash-error{% else %}flash-info{% endif %}">
                {{ message }}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        
        <form class="login-form" method="POST" action="{{ url_for('login') }}">
            <label for="email">Correo electrónico</label>
            <input type="email" id="email" name="correo" class="login-input" required>

            <label for="password">Contraseña</label>
            <input type="password" id="password" name="pass_enc" class="login-input" required>

            <div class="btn-container">
                <button type="submit" class="login-btn">Entrar</button>
            </div>
        </form>


        <p class="login-link login-link-login">
            ¿Aún no tienes una cuenta? 
            <a href="{{ url_for('add_profesor') }}">Regístrate</a>
        </p>
        </div>
    </div>
</body>
</html>
