{% include 'message.html' %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Agregar Actividad</title>
</head>
<body>


    <h1>Agregar Nueva Actividad</h1>
    <form method="POST">
        <input type="text" name="nom_act" placeholder="Nombre de la Actividad" required>
        <input type="text" name="tipo_act" placeholder="Tipo de Actividad" required>
        <input type="text" name="nombre_carpeta" placeholder="Nombre de Carpeta" required>
        <label for="curso_id">Curso:</label>
        <select name="curso_id" required>
            {% for c in cursos %}
                <option value="{{ c[0] }}">{{ c[1] }} {{ c[2] }}</option>
            {% endfor %}
        </select>


        <button type="submit">Agregar</button>
    </form>
    <a href="{{ url_for('listar_actividades') }}">Volver al listado</a>
</body>
</html>
