{% include 'message.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Asignaturas</h1>
    
    <p><a href="{{ url_for('home') }}">Volver al Inicio</a></p>

<a href="{{ url_for('agregar_asignatura') }}">Agregar Nueva Asignatura</a>
<table border="1" cellpadding="5" cellspacing="0">
    <tr>
        <th>ID</th><th>Nombre Asignatura</th><th>Profesor</th><th>Acciones</th>
    </tr>
    {% for a in asignaturas %}
    <tr>
        <td>{{ a[0] }}</td>
        <td>{{ a[1] }}</td>
        <td>{{ a[2] }}</td>
        <td>
            <a href="{{ url_for('detalle_asignatura', codigo=a[0]) }}">Ver</a> |
            <a href="{{ url_for('editar_asignatura', codigo=a[0]) }}">Editar</a> |
            <a href="{{ url_for('eliminar_asignatura', codigo=a[0]) }}">Eliminar</a>
        </td>
    </tr>
    {% endfor %}
</table>
</body>
</html>