{% include 'message.html' %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Gestión de Cursos</title>
</head>
<body>
    <h1>Cursos</h1>

    <p><a href="{{ url_for('home') }}">Volver al Inicio</a></p>

    <a href="{{ url_for('agregar_curso') }}">Agregar Nuevo Curso</a>
    <table border="1" cellpadding="5" cellspacing="0">
        <tr>
            <th>Nivel</th><th>Generación</th><th>Acciones</th>
        </tr>
        {% for c in cursos %}
        <tr>
            <td>{{ c[1] }}</td>
            <td>{{ c[2] }}</td>
            <td>
                <a href="{{ url_for('detalle_curso', id_curso=c[0]) }}">Ver</a> |
                <a href="{{ url_for('editar_curso', id_curso=c[0]) }}">Editar</a> |
                <a href="{{ url_for('eliminar_curso', id_curso=c[0]) }}">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </table>

</body>
</html>
