{% include 'message.html' %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Gestión de Profesores</title>
</head>
<body>
    <h1>Profesores</h1>

    <p><a href="{{ url_for('home') }}">Volver al Inicio</a></p>

    <a href="{{ url_for('agregar_profesor') }}">Agregar Nuevo Profesor</a>
    <table border="1" cellpadding="5" cellspacing="0">
        <tr>
            <th>Correo</th><th>Nombre</th><th>Segundo Nombre</th><th>Apellido Paterno</th><th>Apellido Materno</th><th>Área</th><th>Acciones</th>
        </tr>
        {% for p in profesores %}
        <tr>
            <td>{{ p[0] }}</td>
            <td>{{ p[1] }}</td>
            <td>{{ p[2] or '' }}</td>
            <td>{{ p[3] }}</td>
            <td>{{ p[4] or '' }}</td>
            <td>{{ p[5] }}</td>
            <td>
                <a href="{{ url_for('detalle_profesor', correo=p[0]) }}">Ver</a> |
                <a href="{{ url_for('editar_profesor', correo=p[0]) }}">Editar</a> |
                <a href="{{ url_for('eliminar_profesor', correo=p[0]) }}">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </table>

</body>
</html>
