{% include 'message.html' %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Listado de Alumnos</title>
</head>
<body>
    <h1>Lista de Alumnos</h1>
    
    <p><a href="{{ url_for('home') }}">Volver al Inicio</a></p>
    
    <a href="{{ url_for('agregar_alumno') }}">Agregar Nuevo Alumno</a>
    <table border="1" cellpadding="5" cellspacing="0">
        <tr>
            <th>RUT</th>
            <th>Nombre Completo</th>
            <th>Curso</th>
            <th>Acciones</th>
        </tr>
        {% for a in alumnos %}
        <tr>
            <td>{{ a[0] }}</td>
            <td>{{ a[1] }} {% if a[2] %} {{ a[2] }}{% endif %} {{ a[3] }} {% if a[4] %} {{ a[4] }}{% endif %}</td>
            <td>{{ a[5] }} {{ a[6] }}</td>
            <td>
                <a href="{{ url_for('detalle_alumno', rut_alum=a[0]) }}">Ver</a> |
                <a href="{{ url_for('editar_alumno', rut_alum=a[0]) }}">Editar</a> |
                <a href="{{ url_for('eliminar_alumno', rut_alum=a[0]) }}">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
