{% include 'message.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Detalles del Profesor</h1>
    <p><b>Correo:</b> {{ profesor[0] }}</p>
    <p><b>Nombre:</b> {{ profesor[1] }}</p>
    <p><b>Segundo Nombre:</b> {{ profesor[2] or '' }}</p>
    <p><b>Apellido Paterno:</b> {{ profesor[3] }}</p>
    <p><b>Apellido Materno:</b> {{ profesor[4] or '' }}</p>
    <p><b>Área:</b> {{ profesor[5] }}</p>
    <a href="{{ url_for('listar_profesores') }}">Volver al listado</a>

</body>
</html>