{% include 'message.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Editar Profesor</h1>
    <form method="POST">
        <p><b>Correo:</b> {{ profesor[0] }}</p>
        <input type="text" name="nom_user" placeholder="Nombre" value="{{ profesor[1] }}" required>
        <input type="text" name="seg_nom_user" placeholder="Segundo Nombre" value="{{ profesor[2] }}">
        <input type="text" name="ap_pat_user" placeholder="Apellido Paterno" value="{{ profesor[3] }}" required>
        <input type="text" name="ap_mat_user" placeholder="Apellido Materno" value="{{ profesor[4] }}">
        <input type="password" name="pass_enc" placeholder="Contraseña" value="{{ profesor[5] }}" required>
        <input type="text" name="area" placeholder="Área" value="{{ profesor[6] }}" required>
        <button type="submit">Actualizar</button>
    </form>
    <a href="{{ url_for('listar_profesores') }}">Volver al listado</a>

</body>
</html>