{% include 'message.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Eliminar Asignatura</h1>
    <p>¿Desea eliminar la asignatura <b>{{ asignatura[1] }}</b> con ID <b>{{ asignatura[0] }}</b>?</p>
    <form method="POST">
        <button type="submit">Sí, eliminar</button>
        <a href="{{ url_for('listar_asignaturas') }}">Cancelar</a>
    </form>

</body>
</html>