<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <nav>
        <ul>
            <li><a href="http://127.0.0.1:5000/profesores">Profesores</a></li>
            <li><a href="http://127.0.0.1:5000/asignaturas">Asignaturas</a></li>
            <li><a href="http://127.0.0.1:5000/cursos">Cursos</a></li>
            <li><a href="http://127.0.0.1:5000/alumnos">Alumnos</a></li>
            <li><a href="http://127.0.0.1:5000/notas">Notas</a></li>

        </ul>
    </nav>
</body>
</html>
