/* Contenedor login/registro */
.login-card, .register-card {
    background: linear-gradient(90deg, #ffde59, #ff914d);
    border-radius: 60px;
    padding: 40px 30px;
    width: 600px;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'ChunkFive', Arial, sans-serif;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    overflow: hidden; 
}

/* Icono de usuario */
.login-card .login-icon,
.register-card .login-icon {
    width: 80px;
    height: auto;
    margin-bottom: 15px;
}

/* Título */
.login-card .login-title,
.register-card .login-title {
    font-size: 28px;
    color: #fff;
    margin-bottom: 30px;
    text-align: center;
}

/* Formulario */
.login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Grid para registro */
.register-card .form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

/* Labels */
.login-form label {
    display: block;
    text-align: left;
    font-size: 16px;
    color: #fff;
    margin-bottom: 5px;
    margin-left: 5px;
}

/* Inputs */
.login-form input,
.register-card .login-input {
    width: 100%;
    padding: 12px;
    border-radius: 15px;
    border: none;
    font-size: 16px;
    background: white;
    color: black;
    box-sizing: border-box;
    margin-bottom: 10px;
}

/* Botón */
.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1 / -1;
}

.login-btn {
    margin-top: 15px;
    padding: 12px;
    border-radius: 40px;
    border: none;
    font-family: 'ChunkFive', Arial, sans-serif;
    font-size: 20px;
    width: 220px;
    font-weight: bold;
    background-color: #004aad;
    color: #fff;
    cursor: pointer;
    align-self: center;
    transition: background-color 0.2s ease, transform 0.2s ease;
}

.login-btn:hover {
    background-color: #2775db;
    transform: translateY(-3px);
}


/* Link */

.login-link {
    margin-top: 20px;
    font-size: 14px;
    color: white;
    text-align: center;
}

.login-link a {
    color: #ffffff;
    text-decoration: none;
}

.login-link a:hover {
    color: #ffffff;
    text-decoration: underline;
}

.login-input:focus {
    outline: none;
    box-shadow: 
        inset 0 0 0 2px #04d88a,         
        0 0 8px rgba(3, 214, 137, 0.6); 
    transition: box-shadow 0.2s ease;   
}

/* Ajuste responsive */
@media screen and (max-width: 800px) {
    .login-card.register-card {
        padding: 20px 25px;
        max-width: 95%;
        margin: 20px auto;
        transform: scale(0.9);
    }
}