.dashboard_container {
    display: flex;
    flex-direction:row;
    align-items: center; /* Los alinea verticalmente */
    justify-content: center;
    gap: 80px;          /* Espacio entre los botones */
    width:100%;
}

.btn_dashboard {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-family: 'LazyDog', Arial, sans-serif; /* Tomé esta fuente de tu clase .btn-action */
    font-weight: bold;
    color: #222;
    background: linear-gradient(135deg, #ffde59, #ff914d);
    border: none;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    width: 300px;
    height: 300px;
    border-radius: 60px;
    font-size: 1.2rem;
    flex-direction: column;
    gap: 5px; /* Espacio entre el ícono y el texto */
}

.btn_dashboard img {
    width: 200px;
    height: 200px;
}

.cont_svg {
    width: 100%;
    height: 100%;
    text-decoration: none; /* Añadido para quitar el subrayado del enlace */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 25px;
}

/* Efecto hover para botones */
.btn_dashboard:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}